<% content_for(:body_class, "onsenfou") %>

<h1>Coucou le chat</h1>
<br>
<br>
<img src="https://www.royalcanin.fr/wp-content/uploads/MAU-EGYPTIEN.png" class="chat" alt="">

<img src="http://recueil-de-png.r.e.pic.centerblog.net/8482ec3f.png" class="chien" alt="">
